{% extends "page.html" %}

{% block subtitle %}{{ _("Data Protection") }}{% endblock %}

{% block breadcrumb_content_selected %} class="active"
{% endblock %}

{% block breadcrumb_content %}
<li{{ self.breadcrumb_content_selected()}}>
    {% link_for _("Data Protection"), named_route=matolabtheme ~'.dataprotection'%}</li>

    {% endblock %}


    {% block primary %}
    <article class="module" role="main">
        <div class="module-content">
            <h1 class="page-heading text-center">{{ _("Datenschutzerklärung und
                allgemeine Informationen zur Umsetzung der datenschutzrechtlichen Vorgaben der Artikel 12 bis 14 der
                Datenschutz-Grundverordnung auf")}} {{host}}</h1>
            <ul class="list-unstyled">
                <li>
                    <h2>{{ _("Einleitung")}}</h2>
                </li>
                <p>{{ _("Die Nutzung von")}} {{host}} {{_("ist so ausgestaltet, dass möglichst wenig personenbezogene
                    Daten
                    erhoben
                    und
                    verarbeitet
                    werden.
                    Im Folgenden informieren wir Sie darüber, welche personenbezogenen Daten wir erheben, bei wem wir
                    sie
                    erheben
                    und
                    was wir mit diesen Daten machen. Außerdem informieren wir Sie über Ihre Rechte in Datenschutzfragen
                    und an
                    wen
                    Sie
                    sich diesbezüglich wenden können.") }}
                </p>
                <li>
                    <h2>{{ _("Wer sind wir?")}}</h2>
                    <p>Verantwortlich für die Verarbeitung Ihrer personenbezogenen Daten ist die:
                        {{ h.render_markdown(legal_person_address_md) }}
                    </p>
                </li>
                <li>{{_("Zu welchem Zweck verarbeiten wir Ihre personenbezogenen Daten?")}}
                    <p>{{_("Daten werden verarbeitet für die folgenden Zwecke:")}}
                    <ol type="a">
                        <li>{{_("Besuch des Portals")}}</li>
                        <li>{{_("Im Rahmen eines Registrierungsvorgangs als Nutzer")}}</li>
                        <li>{{_("Nutzung des Kontaktformulars")}}</li>
                    </ol>
                    </p>
                    <p>zur Verarbeitung:
                    <ol type="a">
                        <li>{{_("Die Erhebung und Verarbeitung dieser Daten erfolgt zum Zwecke der Bereitstellung der
                            Plattform
                            (Verbindungsaufbau), zur dauerhaften Gewährleistung der Systemsicherheit und -stabilität,
                            zur
                            technischen
                            Administration der Netzinfrastruktur, zur Optimierung des Internetangebots sowie zur
                            allgemeinen,
                            statistischen Auswertung. Ein Personenbezug ist auf Grund der Anonymisierung der IP-Adresse
                            nicht
                            möglich.")}}</li>
                        <li>{{_("Der Betreiber erhebt und speichert diese Daten, um die Verwaltung der Nutzer und die
                            Abwicklung
                            der
                            mit ihren Rollen verbundenen Prozesse sicherzustellen.")}}</li>
                        <li>{{_("Wendet sich ein Nutzer mittels der im Impressum angegebenen Kontaktdaten an den
                            Betreiber,
                            erfolgt
                            eine Verarbeitung personenbezogener Daten.")}}</li>
                    </ol>
                    </p>
                </li>
                <li>
                    <h2>{{_("Welche personenbezogenen Daten verarbeiten wir?")}}</h2>
                    <p>Wir verarbeiten insbesondere folgende personenbezogene Daten:
                    <ol type="a">
                        <li>Beim Besuch des Portals speichern die Webserver des Betreibers temporär jeden Zugriff in
                            einer
                            Protokolldatei. Hierbei können folgende Daten ohne Zutun des Nutzers erfasst und bis zur
                            automatisierten
                            Löschung vom Betreiber gespeichert werden:

                            die (durch Löschung des letzten Bytes anonymisierte) IP-Adresse des anfragenden Rechners,
                            das Datum und die Uhrzeit des Zugriffs,
                            der Name und die URL der abgerufenen Datei,
                            die übertragene Datenmenge,
                            die Meldung, ob der Abruf erfolgreich war,
                            die Informationen zum verwendeten Browser- und Betriebssystem,
                            die URL der Webseite, von der aus der Aufruf erfolgt ist,
                            der Name des Internet-Zugangs-Providers.


                            Die Erhebung und Verarbeitung dieser Daten erfolgt zum Zwecke der Bereitstellung der
                            Plattform
                            (Verbindungsaufbau), zur dauerhaften Gewährleistung der Systemsicherheit und -stabilität,
                            zur
                            technischen
                            Administration der Netzinfrastruktur, zur Optimierung des Internetangebots sowie zur
                            allgemeinen,
                            statistischen
                            Auswertung. Ein Personenbezug ist auf Grund der Anonymisierung der IP-Adresse nicht möglich.
                        </li>

                        <li>Im Rahmen eines Registrierungsvorgangs als Nutzer speichert der Betreiber folgende vom
                            Nutzer
                            angegebene
                            Daten:

                            Name (Nachname, Vorname), bei Personengesellschaften oder juristischen Personen die des
                            gesetzlichen
                            Vertreters
                            und die des Ansprechpartners,
                            E-Mail-Adresse,
                            Login-Name (Nutzerkennung),
                            Passwort.


                            Der Betreiber erhebt und speichert diese Daten, um die Verwaltung der Nutzer und die
                            Abwicklung der
                            mit ihren
                            Rollen verbundenen Prozesse sicherzustellen.
                        </li>
                        <li>Wendet sich ein Nutzer mittels der im Impressum angegebenen Kontaktdaten an den Betreiber,
                            erfolgt
                            eine
                            Verarbeitung personenbezogener Daten. In diesem Fall speichert der Betreiber die vom Nutzer
                            zur
                            Kontaktaufnahme
                            angegebenen personenbezogenen Daten, wie beispielsweise den Namen und die E-Mail-Adresse für
                            die
                            Verwendung zur
                            weiteren Korrespondenz mit diesem.
                        </li>
                    </ol>
                    </p>
                <li>
                    <h2>{{_("Wie verarbeiten wir diese Daten?")}}</h2>
                    <p>
                        Ihre personenbezogenen Daten werden bei uns gespeichert.
                        Jegliche Nutzung der personenbezogenen Daten erfolgt nur zu den vorstehend genannten Zwecken und
                        nur in
                        dem zur
                        Erreichung dieser Zwecke erforderlichen Umfang. Wir setzen dabei technische und organisatorische
                        Sicherheitsmaßnahmen ein, um Ihre personenbezogenen Daten gegen unbeabsichtigte oder
                        unrechtmäßige
                        Vernichtung,
                        Verlust oder Veränderung sowie gegen unbefugte Offenlegung oder unbefugten Zugang zu schützen.
                        Unsere
                        Sicherheitsstandards entsprechen stets den aktuellsten technologischen Entwicklungen.
                    </p>
                </li>
                <li>
                    <h2>{{_("Welchen Voraussetzungen dürfen wir Ihre Daten an Dritte weitergeben?")}}</h2>
                    <ol type="1">
                        <li>Ohne die ausdrückliche Zustimmung des Nutzers wird der Betreiber dessen personenbezogene
                            Daten nicht
                            an Dritte weitergeben.</li>
                        <li>Etwas anderes gilt, soweit die Übermittlung an staatliche Einrichtungen oder Behörden durch
                            eine
                            zwingende
                            nationale Rechtsvorschrift geboten ist oder wenn die Weitergabe im Fall von Angriffen auf
                            die
                            Netzinfrastruktur
                            des Betreibers zur Rechts- oder Strafverfolgung erforderlich ist.
                        </li>
                        <li>der Einbindung von Social Media Plugins werden die datenschutzrechtlichen Maßgaben durch die
                            Implementierung der durch den Heise-Verlag entwickelten und bereitgestellten
                            Shariff-Bibliothek
                            berücksichtigt.
                            Die Kommunikation mit den sozialen Netzwerken übernimmt beim Shariff ein auf dem Server des
                            Webseitenbetreibers
                            abgelegtes Skript. Der Server steht zunächst als Vermittler zwischen dem Nutzer und
                            Facebook, Google
                            oder
                            Twitter. Erst wenn der Nutzer einen Share- oder Like-Button betätigt, entsteht eine direkte
                            Verbindung.
                            So
                            können die Dienste auch keine Daten über den Nutzer erfassen, bevor er aktiv wird.
                        </li>
                    </ol>
                </li>
                </li>
                <h2>{{_("Cookies")}}</h2>
                <p>
                    Das Portal macht Gebrauch von Cookies, um Daten lokal zwischenzuspeichern. Eine Nutzung ist jedoch
                    auch
                    ohne
                    Cookies möglich. Mit dem Gebrauch von Cookies werden durch das Portal erweiterte Funktionen
                    bereitstellt. Die
                    Deaktivierung von Cookies kann dazu führen, dass der Nutzer nicht alle Funktionen des Portals nutzen
                    kann. Durch
                    die Speicherung von Cookies werden keine personenbezogenen Daten an den Betreiber übermittelt.
                </p>
                </li>
                <li>
                    <h2>{{_("Wie lange speichern wir Ihre Daten?")}}</h2>
                    <p>
                        Wir speichern Ihre im Rahmen der Registrierung erhobenen Daten, solange Sie diese Registrierung
                        nutzen.
                        Nach
                        Abmeldung der Registrierung werden diese Daten gelöscht. Jeder Nutzer kann die Löschung seines
                        Accounts
                        selber
                        durchführen. Wenn Sie mit dem Verfahren nicht einverstanden sind, nehmen Sie bitte Kontakt mit
                        uns auf,
                        so dass
                        wir die Löschung ihres Accounts durchführen.
                    </p>
                </li>

                <li>
                    <h2>{{_("Welche Rechte (Auskunftsrecht, Widerspruchsrecht usw.) haben Sie?")}}</h2>
                    <p>

                        Sie haben nach der Datenschutz-Grundverordnung verschiedene Rechte. Einzelheiten ergeben sich
                        insbesondere aus
                        Artikel 15 bis 18 und 21 der Datenschutz-Grundverordnung.
                    </p>
                    <ul>
                        <li>Recht auf Auskunft
                            <p>
                                Sie können Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten verlangen.
                                In Ihrem
                                Auskunftsantrag
                                sollten Sie Ihr Anliegen präzisieren, um uns das Zusammenstellen der erforderlichen
                                Daten zu
                                erleichtern. Daher
                                sollten in dem Antrag möglichst Angaben zum konkreten Verwaltungsverfahren und zum
                                Verfahrensabschnitt
                                gemacht
                                werden.</p>
                        </li>
                        <li>Recht auf Berichtigung
                            <p>Sollten die Sie betreffenden Angaben nicht (mehr) zutreffend sein, können Sie eine
                                Berichtigung
                                verlangen.
                                Sollten Ihre Daten unvollständig sein, können Sie eine Vervollständigung verlangen.</p>
                        </li>
                        <li>Recht auf Löschung<p>
                                Sie können die Löschung Ihrer personenbezogenen Daten verlangen. Ihr Anspruch auf
                                Löschung hängt
                                u. a.
                                davon ab,
                                ob die Sie betreffenden Daten von uns zur Erfüllung unserer gesetzlichen Aufgaben noch
                                benötigt
                                werden.</p>
                        </li>
                        <li>Recht auf Einschränkung der Verarbeitung<p>
                                Sie haben das Recht, eine Einschränkung der Verarbeitung der Sie betreffenden Daten zu
                                verlangen. Die
                                Einschränkung steht einer Verarbeitung nicht entgegen, soweit an der Verarbeitung ein
                                wichtiges
                                öffentliches
                                Interesse besteht.</p>
                        </li>
                        <li>Recht auf Widerspruch<p>
                                Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben,
                                jederzeit der
                                Verarbeitung
                                der Sie betreffenden Daten zu widersprechen. Allerdings können wir dem nicht nachkommen,
                                wenn an
                                der
                                Verarbeitung ein überwiegendes öffentliches Interesse besteht oder eine Rechtsvorschrift
                                uns zur
                                Verarbeitung
                                verpflichtet.</p>
                        </li>
                        <li>Recht auf Beschwerde
                            <p>
                                Wenn Sie der Auffassung sind, dass wir Ihrem Anliegen nicht oder nicht in vollem Umfang
                                nachgekommen
                                sind,
                                können Sie bei der zuständigen Datenschutzaufsichtsbehörde Beschwerde einlegen:
                            </p>
                            <p>
                                {{ h.render_markdown(dsvgo_contact_md) }}
                            </p>
                        </li>
                    </ul>
                    <p>Allgemeine Hinweise zu diesen Rechten</p>
                    <p>In einigen Fällen können oder dürfen wir Ihrem Anliegen nicht entsprechen. Sofern dies gesetzlich
                        zulässig ist,
                        teilen wir Ihnen in diesem Fall immer den Grund für die Verweigerung mit.
                        Wir werden Ihnen aber grundsätzlich innerhalb eines Monats nach Eingang Ihres Anliegens
                        antworten.
                        Sollten wir
                        länger als einen Monat für eine abschließende Klärung brauchen, erhalten Sie eine
                        Zwischennachricht.
                    </p>
                </li>
            </ul>
            <p class="text-end">{{_("Stand:")}} 06.2024</p>
        </div>
    </article>
    {% endblock %}

    {% block secondary %}{% endblock %}